<div class="d-grid gap-2">
    <button onclick="showhide(AddQuestion)" class="btn btn-outline-primary btn-sm my-3 w">
         Добавить новый вопрос
    </button>
</div>
<div id="AddQuestion" hx-swap-oob="true" class="container border rounded mb-3 py-4" style="display: none">
    <form action="/admin/poll/{{ poll.id }}/question" method="post" enctype="multipart/form-data" class="needs-validation">
        <div class="row g-3">
            <label class="form-label">
                <input  id="title" name="title" type="text" placeholder="Название" class="form-control" required>
            </label>
            <label class="form-label">
                <textarea id="description" name="description" placeholder="Описание" class="form-control"  rows="3" required></textarea>
            </label>
            <label class="form-label">
                <input id="text_ask" name="text_ask" placeholder="Вопрос" class="form-control" required>
            </label>
            <label class="form-label" for="file-upload">
                <input  id="file-upload" name="image" type="file" class="form-control" placeholder="Изображение">
            </label>
             <div class="input-group mb-3">
                 <label class="input-group-text" for="options_type">Варианты ответов</label>
                 <select class="form-select" id="options_type" name="options_type">
                   <option selected>Выберите...</option>
                   <option value="SMILE">Смайлы 👎 😐 👍</option>
                   <option value="SCORE">Оценка 1-5</option>
                   <option value="CUSTOM">Свои варианты</option>
                 </select>
             </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</div>