<div class="d-grid gap-2">
    <button onclick="showhide(AddQuestion)" class="btn btn-outline-primary my-3 w">
         Добавить новый вопрос
    </button>
</div>
<div id="AddQuestion" class="container border rounded mb-3 py-4" style="display: none">
    <form action="/admin/poll/{{ poll.id }}/question" method="post" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input  id="title" name="title" type="text" placeholder="Название" class="form-control" required>
            <label class="gx-3" for="title">Название</label>
        </div>
        <div class="form-floating mb-3">
            <textarea id="description" name="description" placeholder="Описание" class="form-control"  style="height: 200px" required></textarea>
           <label class="form-label" for="description" >Описание</label>
        </div>
        <div class="form-floating mb-3">
            <textarea id="text_ask" name="text_ask" placeholder="Вопрос" class="form-control"  style="height: 100px" required></textarea>
            <label class="form-label" for="text_ask">Вопрос</label>
        </div>
        <div class="mb-3">
            <input  id="file-upload" name="image" type="file" class="form-control" placeholder="Изображение">
        </div>
        <div class="form-floating  mb-3">
            <select class="form-select" id="options_type" name="options_type" required>
                <option selected>Выберите...</option>
                <option value="SMILE">Смайлы 👎 😐 👍</option>
                <option value="SCORE">Оценка 1-5</option>
                <option value="CUSTOM">Свои варианты</option>
            </select>
            <label for="options_type">Варианты ответов</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>