{% extends "admin/base.html" %}
{% block title %}Вопрос {{ question.title }}{% endblock title %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    {% if question.image_name %}
    <div class="col-md-4">
      <img src="{{ url_for('images', path=question.image_name) }}" class="img-fluid rounded-start" alt="{{ question.title }}">
    </div>
    {% endif %}
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ question.title }}</h5>
        <p class="card-text" style="white-space: pre-wrap;">{{ question.description | safe}}</p>
        <p class="card-text">{{ question.text_ask }}</p>
        {% include "admin/question/options.html" %}
        <div class="d-grid gap-2 d-md-block">
            <div class="row">
               <div class="col">
                 <button hx-get="{{ question.id }}/update"  hx-push-url="true" hx-target="body"
                         type="button" class="btn btn-outline-primary col-12">
                     Редактировать
                 </button>
               </div>
                <div class="col">
                      <button hx-delete="{{ question.id }}" hx-push-url="true" hx-target="body" hx-confirm="Удалить вопрос?"
                              type="button" class="btn btn-outline-danger col-12">
                          Удалить
                      </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}