{% if not question.options_type.value %}
  {% if question.options %}
      <table class="table caption-top">
        <caption>Варианты ответа</caption>
          <tbody class="counter-container">
            {% for option in question.options %}
              <tr class="number">
                <th scope="row" ></th>
                <td>
                  {{ option.value }}
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  {% endif %}
  <div class="d-grid gap-2">
      <button onclick="showhide(AddOption)" type="button" class="btn btn-outline-primary mb-3 w">
         Добавить новый вариант ответа
      </button>
  </div>
  <div id="AddOption" class="mb-3" style="display: none">
      <form action="#" method="post"  enctype="multipart/form-data" class="needs-validation">
          <div class="row g-2 pb-2">
              <div class="input-group">
                  <input type="text" name="value" class="form-control" placeholder="Вариант ответа" id="value">
                  <label for="value"></label>
                <button class="btn btn-outline-secondary" type="submit">Добавить</button>
              </div>
          </div>
      </form>
  </div>
{% else %}
  <div class="input-group my-3">
    <label class="input-group-text">Тип ответов</label>
    <select class="form-select d-flex" aria-label="Disabled select" disabled>
      <option selected>{% for option in question.options %}&nbsp;{{ option.value }}&nbsp;{% endfor %}</option>
    </select>
  </div>
{% endif %}