<div class="d-grid gap-2">
   <button onclick="showhide(AddPoll)" class="btn btn-outline-primary btn-sm mb-auto">
       Добавить новый опрос
   </button>
</div>
<div id="AddPoll" class="container border rounded mt-3 py-4" style="display: none">
      <form action="/admin/poll" method="post" enctype="multipart/form-data" class="needs-validation">
        <div class="row g-3">
            <label class="form-label">
                <input  id="name" name="name" type="text" placeholder="Название" class="form-control" required>
            </label>
            <label class="form-label">
                <textarea id="description" name="description" placeholder="Описание" class="form-control"  rows="4" required></textarea>
            </label>
             <div class="input-group mb-3">
                 <label class="input-group-text" for="poll_type">Тип опроса</label>
                 <select class="form-select form-control-sm" id="poll_type" name="poll_type">
                   <option value="CLIENT" selected>Опрос клиентов</option>
                   <option value="EMPLOYEE">Опрос сотрудников</option>
                 </select>
             </div>
            <label class="form-label" for="file-upload" >
                <input  id="file-upload" name="image" type="file" class="form-control" placeholder="Изображение">
            </label>
            <label class="form-label">
                <input  id="slug" name="slug" type="text" placeholder="Ссылка" class="form-control" required>
            </label>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
            </div>
        </div>
      </form>
</div>