{% extends "admin/base.html" %}
{% block title %}Опрос {{ poll.name }}{% endblock title %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
      {% if poll.image_name %}
         <div class="col-md-4">
            <img src="{{ url_for('images', path=poll.image_name) }}" class="img-fluid rounded-start" alt="{{ poll.name }}">
         </div>
      {% endif %}
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ poll.name }}</h5>
          <p class="card-text" style="white-space: pre-wrap;">{{ poll.description | safe }}</p>
      </div>
        </div>
    </div>
</div>
<div class=" d-grid gap-2 d-md-block">
    <div class="row">
        <div class="col">
            <button hx-get="{{ poll.id }}/update"  hx-push-url="true" hx-target="body"
                    type="button" class="btn btn-outline-primary col-12">
                Редактировать
            </button>
        </div>
        <div class="col">
            <button hx-delete="{{ poll.id }}" hx-push-url="true" hx-target="body" hx-confirm="Удалить опрос?"
                    type="button" class="btn btn-outline-danger col-12">
                Удалить
            </button>
        </div>
    </div>
</div>
{% include "admin/question/add.html" %}
{% include "admin/question/list.html" %}
{% endblock content %}