{% if polls %}
<div class="container border rounded mt-3">
   <table class="table caption-top">
      <caption>Список опросов</caption>
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody class="counter-container">
      {% for poll in polls %}
        <tr class="number">
          <th scope="row"></th>
          <td><a href="{{ url_for('poll_detail', poll_id=poll.id) }}" class="link-underline-light fw-light">{{ poll.name }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endif %}