{% extends "admin/base.html" %}
{% block title %}Редактирование опроса{% endblock title %}
{% block content %}
<div class="container border rounded mt-3 py-4">
    <form hx-patch="/admin/poll/{{ poll.id }}" hx-push-url="true" hx-target="body" enctype="multipart/form-data" class="needs-validation">
        <div class="form-floating mb-3">
            <input  id="name" name="name" type="text" placeholder="Название" class="form-control" value="{{ poll.name }}" required>
            <label class="form-label" for="name">Название</label>
        </div>
        <div class="form-floating mb-3">
            <textarea id="description" name="description" placeholder="Описание" class="form-control" style="height: 250px" required>{{ poll.description }}</textarea>
            <label class="form-label" for="description">Описание</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="poll_type" name="poll_type">
                <option value="CLIENT" selected>Опрос клиентов</option>
                <option value="EMPLOYEE">Опрос сотрудников</option>
            </select>
            <label for="poll_type">Тип опроса</label>
        </div>
        <div class="mb-3">
                <input  id="file-upload" name="image" type="file" class="form-control" placeholder="Изображение">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
{% endblock content %}