<div class="container d-grid  border rounded mb-2 p-2">
      <form action="#" method="post"  enctype="multipart/form-data" class="needs-validation">
        <div class="row g-2 pb-2">
            <label class="form-label">
                <input  id="value" name="value" type="text" placeholder="Вариант ответа" class="form-control sm">
            </label>
        </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
          </div>
      </form>
</div>
