{% block content %}
<div class="container border rounded mt-3 py-4">
      <form action="/admin/poll/add" method="post" enctype="multipart/form-data" class="needs-validation">
        <div class="row g-3">
            <label class="form-label">
                <input  id="name" name="name" type="text" placeholder="Название" class="form-control" required>
            </label>
            <label class="form-label">
                <textarea id="description" name="description" placeholder="Описание" class="form-control"  rows="3" required></textarea>
            </label>
            <label class="form-label">
                <input  id="slug" name="slug" type="text" placeholder="Ссылка" class="form-control" required>
            </label>
            <label class="form-label" for="image">
                <input  id="image" name="image" type="file" class="form-control" placeholder="Файл">
            </label>
            <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
        </div>
      </form>
</div>
{% endblock content %}