{% extends "admin/base.html" %}
{% block title %}Главная{% endblock title %}
{% block name %}Главная{% endblock name %}
{% block content %}
<div class="d-grid gap-2">
   <button hx-get="/admin/poll"
           hx-trigger="click"
           hx-target="#add-poll"
           hx-swap="outerHTML"
           class="btn btn-outline-primary btn-sm mb-auto">
    Добавить новый опрос
   </button>
</div>
<output id="add-poll" hx-swap-oob="true" class="visually-hidden">
    {% include "admin/add-poll.html" %}
</output>
{% if polls %}
<div class="container border rounded mt-3">
   <table class="table caption-top">
      <caption>Список опросов</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody class="counter-container table-group-divider">
      {% for poll in polls %}
        <tr class="number">
          <th scope="row"></th>
          <td><a href="{{ url_for('poll_detail', poll_id=poll.id) }}" class="link-underline-light fw-light">{{ poll.name }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endif %}
{% endblock content %}

