{% extends "admin/base.html" %}
{% block title %}Опрос {{ poll.name }}{% endblock title %}
{% block name %}{{ poll.name }}{% endblock name %}
{% block content %}
<div class="card">
  <div class="card-body">
    {{ poll.description }}
  </div>
</div>
<div class="d-grid gap-2">
    <button hx-get="/admin/poll/{{ poll.id }}/question"
            hx-trigger="click"
            hx-target="#question-add"
            hx-swap="outerHTML"
            class="btn btn-outline-primary btn-sm my-3 w">
         Добавить новый вопрос
    </button>
</div>
<output id="question-add" hx-swap-oob="true" class="visually-hidden">
    {% include "admin/add-question.html" %}
</output>
{% include "admin/poll-questions.html" %}
{% endblock content %}