{% extends "admin/base.html" %}
{% block title %}Вопрос {{ question.title }}{% endblock title %}
{% block name %}{{  question.title }}{% endblock name %}
{% block content %}
<div class="card mb-3" style="">
  <div class="row g-0">
    {% if question.image_name %}
    <div class="col-md-4">
      <img src="{{ url_for('images', path=question.image_name) }}" class="img-fluid rounded-start" alt="{{ question.title }}">
    </div>
    {% endif %}
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ question.title }}</h5>
        <p class="card-text">{{ question.text }}</p>
        {% if question.options_type.get_all_values() %}
          <p class="card-text"><small class="text-body-secondary">{{ question.options_type.get_all_values() }}</small></p>
        {% else %}
            {% include "admin/options.html" %}
          <div class="d-grid gap-2">
            <button hx-get="{{ question.id }}/options" hx-trigger="click" hx-target="#options-add" hx-swap="outerHTML" class="btn btn-outline-primary btn-sm my-3 w">
                Добавить новый вариант ответа
            </button>
          </div>
        <output id="options-add" hx-swap-oob="true" class="visually-hidden">
            {% include "admin/add-option.html" %}
        </output>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}